DBHOST=127.0.0.1
DBPORT=5433
DBUSER=postgres
DBPASSWORD=replace-with-local-password
DBNAME=ppay
DBSSLMODE=disable
PORT=8080

MTN_COLLECTION_SUBSCRIPTION_KEY=replace-with-mtn-subscription-key
MTN_COLLECTION_API_USER=replace-with-mtn-api-user
MTN_COLLECTION_API_KEY=replace-with-mtn-api-key
MTN_COLLECTION_TARGET_ENVIRONMENT=sandbox
MTN_COLLECTION_BASE_URL=https://sandbox.momodeveloper.mtn.com
